<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSAccessibilityUsageDescription</key>
	<string>HA Volume Control needs Accessibility access to intercept hardware volume keys and redirect them to your Home Assistant media player.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
